<div class="album">
  <ul>
    {{#each albums}}
    <li>
      <h3>{{ this.name}}</h3>
      <img src={{ this.images.[0].url}} alt={{this.name}}>
      <button><a href="/tracks/{{this.id}}">View tracks</a></button>
    </li>
    {{/each}}
  </ul>
</div>